img {
    height: 28px;   
}

header {
    padding: 18px;
}

.header-content {
    display: flex;
}

.div-header {
    display: flex;
    justify-content: space-between;
}

.out {
    margin-top: 4px;
    background-color: #F22222;
    border: none;
    font-weight: bold;
    font-size: 15px;
}