.receita {
    border: solid 1px black;
    border-left: none;
    border-right: none;
}

.title {
    margin-top: 13px;
    margin-left: 28px;
    margin-bottom: 14px;
}

.sub-title {
    margin-bottom: 10px;
    background-color: #ffd9d9;
    padding: 10px;
}

.sub-title p {
    margin-left: 20px;
}

.content {
    margin: 13px 10px 18px 12px;
}

.btn-post {
    padding: 12px;
    width: -webkit-fill-available;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #bc5f5f;
    border-left: none;
    border-right: none;
    color: antiquewhite;
}

.user {
    display: flex;
    margin: 12px 10px;
    justify-content: center;
}

.user p {
    font-weight: bold;
}